In [14]:
import mysql.connector
from getpass import getpass

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=getpass("Enter your password: "),
  database="leetcode"
)

Enter your password:  ········

In [19]:
mycursor = mydb.cursor()

sql = """SELECT s.roll_number, s.name

        FROM student_information s
	    LEFT JOIN examination_marks e
        ON s.roll_number = e.roll_number

        WHERE (e.subject_one + e.subject_two + e.subject_three) < 100"""

mycursor.execute(sql)

myresult = mycursor.fetchall()

temp = list()
for x in myresult:
    # print(x)
    temp.append(x)

import pandas as pd
columns = ["ID", "Name"]
df = pd.DataFrame(temp, columns = columns)
print(df)

   ID         Name
0   2       Rachel
1   3  Christopher

In [22]:
mycursor = mydb.cursor()

sql = """SELECT s.roll_number, s.name

        FROM student_information s
	    LEFT JOIN examination_marks e
        ON s.roll_number = e.roll_number

        WHERE (e.subject_one + e.subject_two + e.subject_three) < 100"""

mycursor.execute(sql)

myresult = mycursor.fetchall()

temp = list()
for i,data in enumerate(myresult):
    # print(x)
    temp.append(data)

import pandas as pd
columns = ["ID", "Name"]
df = pd.DataFrame(temp, columns = columns)
print(df)

   ID         Name
0   2       Rachel
1   3  Christopher